
<div class="form-container">
    <form method="get" action="">
        <div class="top-hour">
            <img src="assets/images/png/icon-hour.png" alt="">
                <p>Horário</p>
        </div>
        <div class="text-container">
            <h1>Qual período quer treinar?</h1>
                <hr class="line-bottom">
        </div>
        <div class="content-form">
            <div class="hour-type">
                <div class="input-content">
                    <input type="radio" name="periodo" id="manha">
                    <label class="label-style" for="manha">Manhã</label>
                </div>
                <div class="horario">
                    <p>06am às 12pm</p>
                </div>
            </div>
            <hr class="line-bottom">
            <div class="hour-type">
                <div class="input-content">
                    <input type="radio" name="periodo" id="tarde">
                    <label class="label-style" for="tarde">Tarde</label>
                </div>
                <div class="horario">
                    <p>12pm às 18pm</p>
                </div>
            </div>
            <hr class="line-bottom">
            <div class="hour-type">
                <div class="input-content">
                    <input type="radio" name="periodo" id="noite">
                    <label class="label-style" for="noite">Noite</label>
                </div>
                <div class="horario">
                    <p>18pm às 23pm</p>
                </div>
            </div>
            <hr class="line-bottom">
            <div class="check-content">
                <div class="check-form">
                    <input type="checkbox" name="check" id="check">
                    <label for="check">Exibir unidades fechadas</label>
                </div>
                <div class="result-search">
                    <p>Resultados encontrados: 0 </p>
                 </div>
            </div>
            
            <div class="button-form">
                <button class="search-button">Encontrar unidade</button>
                <button class="clear-button">Limpar busca</button>
            </div>
        </div>
    </form>
</div>
